<div id="author-list" class="container px-0">
    <table class="table">
        <tr>
            <th scope="col">Eesnimi</th>
            <th scope="col">Perekonnanimi</th>
            <th scope="col">Hinne</th>
        </tr>

        <tpl tpl-foreach='$authors as $author'>
            <tr>
                <td>
                    <a href="../?cmd=author-edit&id={{ urlencode($author->id) }}">{{ $author->firstname }}</a>
                </td>
                <td>{{ $author->lastname }}</td>
                <td>{{ $author->grade }}</td>
            </tr>
        </tpl>

    </table>
</div>

