<div id="author-add-form" class="container px-0">
    <form id="add-book" action="" method="POST" class="form">
    <div class="row justify-content-center">
        <div class="col-6">
            <input type="hidden" name="id" value='{{ $id }}' >
            <div>
                <label class="form-check-label" for="firstName">Eesnimi:</label>
                <input class="form-control" type="text" name="firstName" value='{{ htmlspecialchars($firstname, ENT_QUOTES) }}'>
            </div>

            <div>
                <label class="form-check-label" for="surname">Perekonnanimi:</label>
                <input class="form-control" type="text" name="lastName" value='{{ htmlspecialchars($lastname,ENT_QUOTES) }}'>
            </div>

            <div class="col mt-3">
                <label class="form-label">Hinnang: </label>

                <tpl tpl-foreach='range(1, 5) as $i'>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="grade" id="graderadio{{ $i }}" value="{{ $i }}" tpl-checked="$grade == $i">
                        <label class="form-check-label" for="graderadio{{ $i }}">{{ $i }}</label>
                    </div>    
                </tpl>

            </div> 
            <div id="form-buttons">
                <tpl tpl-if='$cmd == "author-edit"'>
                    <button class="btn btn-lg btn-primary" type="submit" id="button" name="submitButton">Muuda</button>
                    <button class="btn btn-lg btn-danger mx-3" type="submit" id="button" name="deleteButton">Kustuta</button>
                </tpl>
                <tpl tpl-if='$cmd == "author-form"'>
                    <button class="btn btn-lg btn-primary" type="submit" id="button" name="submitButton">Lisa</button>
                </tpl>
            </div>
        </div>
    </div>
    </form>
</div>
