<div id="book-form" class="container px-0">
    <form id="add-book" action="" method="POST" class="form">
    <div class="row justify-content-center">
        <div class="col-6">
            <input type="hidden" name="id" value='{{ $id }}'>
            <div>
                <label class="form-check-label" for="title">Raamatu nimi:</label>
                <input class="form-control" type="text" id="bookname" name="title" value='{{ htmlspecialchars($title, ENT_QUOTES) }}'>
            </div>
            <div class="col mt-3">
                <label class="form-label">Hinnang: </label>
                <tpl tpl-foreach='range(1, 5) as $i'>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="grade" id="graderadio{{ $i }}" value="{{ $i }}" tpl-checked="$grade == $i">
                        <label class="form-check-label" for="graderadio{{ $i }}">{{ $i }}</label>
                    </div>    
                </tpl>
            </div> 
            <label for="author1">Author 1: </label>
            <select id="author1" name="author1" class="form-select">
                <option value=-1>--Vali autor--</option>
                <tpl tpl-foreach='$authors as $author'>
                    <option value='{{ $author->id }}' tpl-selected='$book_authors[0] == $author->id'>{{ $author }}</option>
                </tpl>
            </select>
            <label for="author2">Author 2: </label>
            <select id="author2" name="author2" class="form-select">
                <option value=-1>--Vali autor--</option>
                <tpl tpl-foreach='$authors as $author'>
                    <option value='{{ $author->id }}' tpl-selected='$book_authors[1] == $author->id'>{{ $author }}</option>
                </tpl>
            </select>

            <div class="form-check form-switch my-3">
                <input class="form-check-input" type="checkbox" id="isRead" name="isRead" tpl-checked='$read != 0'>
                <label class="form-check-label" for="isRead">Loetud</label>
            </div>

            <div id="form-buttons">
                <tpl tpl-if='$cmd == "book-edit"'>
                    <button class="btn btn-lg btn-primary" type="submit" id="button" name="submitButton">Muuda</button>
                    <button class="btn btn-lg btn-danger mx-3" type="submit" id="button" name="deleteButton">Kustuta</button>
                </tpl>
                <tpl tpl-if='$cmd == "book-form"'>
                    <button class="btn btn-lg btn-primary" type="submit" id="button" name="submitButton">Lisa</button>
                </tpl>
            </div>
        </div>
    </div>
    </form>
</div>
