<div id="book-list" class="container px-0">
    <table class="table">
        <tr>
            <th scope="col">Pealkiri</th>
            <th scope="col">Autorid</th>
            <th scope="col">Hinne</th>
        </tr>

        <tpl tpl-foreach='$books as $book'>
            <tr>
                <td>
                    <a href="../?cmd=book-edit&id={{ urlencode($book->id) }}">
                        {{ $book->title }} 
                    </a>
                </td>
                <td>
                    {{ implode(', ', array_reverse(array_values($book->authors))) }}
                </td>
                <td>{{ $book->grade }}</td>
            </tr>
        </tpl>

    </table>
</div>
