<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ $page_title }}</title>
    <link rel="stylesheet" type="text/css" href="project/style/bootstrap.min.css">
    <script src="/project/style/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="project/style/styles.css">
</head>
<body id='{{ $body_id }}'>
<header>
    <div class="container py-3 border-bottom border-secondary">
        <div class="row justify-content-center">
            <nav class="col-6">
                <a href="?cmd=book-list" id="book-list-link"><button type="button" class="btn btn-primary">Raamatud</button></a>
                <a href="?cmd=book-form" id="book-form-link"><button type="button" class="btn btn-primary">Lisa raamat</button></a>
                <a href="?cmd=author-list" id="author-list-link"><button type="button" class="btn btn-primary">Autorid</button></a>
                <a href="?cmd=author-form" id="author-form-link"><button type="button" class="btn btn-primary">Lisa autor</button></a>
            </nav>
        </div>
    </div> 
</header>

<main>
    <div class="container">
        <tpl tpl-if='isset($errors)'>
            <tpl tpl-if='sizeof($errors) > 0'>
                <tpl tpl-foreach='$errors as $error'>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="error-block">
                        {{ $error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </tpl>
            </tpl>
        </tpl>
        <tpl tpl-if='isset($msg)'>
            <div class="alert alert-success alert-dismissible fade show" role="alert" id="message-block">
                {{ $message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </tpl>
    </div>
    <tpl tpl-include="{{ $template }}"></tpl>
</main>

<footer>
    <div class="container border-top border-secondary">
        <div class="row py-3">
            ICD0007 Rakendus - raleis
        </div>
    </div>
</footer>
</body>
</html>
