<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="styles.css">

    <title></title>
</head>
<body>

<main>

    <div id="author-list">

        <div class="title-cell header-cell">Pealkiri</div>
        <div class="author-cell header-cell">Autorid</div>
        <div class="grade-cell header-cell">Hinne</div>

        <div class="flex-break header-divider"></div>

        <tpl tpl-foreach="$books as $book" tpl-trim-contents>
            <div>
                {{ $book->title }}
            </div>
            <div>
                <tpl tpl-foreach="$book->authors as $author">
                    {{ $author }}<tpl tpl-if="!$last">, </tpl>
                </tpl>
            </div>
            <div class="score-empty">
                <tpl tpl-foreach="range(1, 5) as $grade">
                <span tpl-class="score-filled if $grade <= $book->grade" >&#9733;</span>
                </tpl>
            </div>
            <div class="flex-break"></div>
        </tpl>
    </div>
</main>

</body>
</html>
