<h3>{{ $title }}</h3>

<tpl tpl-foreach='$errors as $error' tpl-trim-contents>
    <strong>{{ $error }}</strong><br>
</tpl>

<form method="post" action="ex3.php">

    <input type="hidden" name="cmd" value="{{ $cmd }}" >

    <input name="temperature" value='{{ $input ? $input : "" }}'>

    <input type="submit" name="calculateButton" value="Calculate"/>

</form>

